body{
    background: linear-gradient(45deg, rgb(13, 86, 45) 0%, rgb(102, 148, 27) 50%, rgb(63, 173, 227));
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 25px;
}

.usrBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usrBox input {
    margin-bottom: 1rem;
    height: 3rem;
    width: 17rem;
    border: none;
    border-radius: 8px;
    font-size: medium;
    box-shadow: 0 4px 8px #000000b5;
}

.usrBox button {
    margin-top: 1rem;
    height: 3rem;
    width: 13rem;
    border: none;
    border-radius: 16px;
    font-size: 18px;
    box-shadow: 0 4px 8px #000000b5;
}

.usrBox button:hover {
    background-color: #2b2ee875;
    color: white;
}
