:root {

  /** Variaveis */
  --background: #121214;
  --shape: #202024;
  --box-on-shape: #29292E;
  --table-header: #323238;
  --text: #E1E1E6;
  --line: #7C7C8A;
  --purple-500: #292A94;
  --pink-800: #8F0656;
  --orange-500: #EC7815;
  --green-500: #299434;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:focus {
  box-shadow: 0 0 0 2px var(--purple-500);
}

body {
  background: var(--background);
  color: var(--text);

  -webkit-font-smoothing: antialiased;
  transition: all 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem; /** 1rem = 16px */
}

button {
  cursor: pointer;
}

body:has(option[value="light"]:checked){
  --background: #FFFFFF; 
  --shape: #F2F2F2;
  --box-on-shape: #E5E5E5;
  --table-header: #cecece;
  --text: #121214; 
  --line: #B0B0B0; 
  --purple-500: #5A5AB8;
  --pink-800: #D9267A; 
  --orange-500: #FF8A33; 
  --green-500: #37A54B; 

}