@import url("https://github.com/JullyanoBortolonSchuhmacher/floripamaistec/blob/2f7b127da3a7c9933038efbd42a34d80a8b4a2f8/semana%2010/primeiro-projeto-react/src/paleta.css"); 

*{
  background: var(--bg);
  font-family: "inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

.card_container {
  display: flex;
  height: 15em;
  background: aliceblue;
}
  
.card_container h3{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
  
.card_imagem {
  background-position: center;
  width: 250px;
  object-fit: cover;
}

#favoritar {
  border: none;
  background: none;
  color: none;
}

#favoritar:hover {
  color: #f57171;
  transition: all .3s ease-out;
  text-shadow: .2em .2em 1em #f57171;
}
