
*{
  background: var(--bg);
  color: var(--text);
}

.h1header {
  color: var(--accent);
  animation-name: header1;
  animation-duration: infinite;
}

.card_container {
  display: flex;
  height: 13em;
  color: white;
  margin: .5rem;
  overflow: hidden;
}
.card_container h3{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.card_container p, span{
  margin: .5em 1em;
  
}
.card_container span{
  padding: 5px;
  background-color: var(--accent);
  border-radius: 16em;
}

.card_imagem {
  background-position: center;
  width: 250px;
  object-fit: cover;
}

#favoritar{
  border: none;
  cursor: pointer;
  background: var(--accent);
  padding: 5px;
  border-radius: 16em;
}
#favoritar:hover {
  transform: scale(-1.2, 1.2);
  transition: transform .3s ease .2s;
}
#favoritar:active {
  color: #000;
  background: var(--acert);
  transform: scale(-0.8, 0.8);
  transition: all .3s ease;
}