@import url("https://github.com/JullyanoBortolonSchuhmacher/floripamaistec/blob/2f7b127da3a7c9933038efbd42a34d80a8b4a2f8/semana%2010/primeiro-projeto-react/src/paleta.css"); 

*{
  background: var(--bg);
  font-family: "inter", sans-serif;
}

header{
  display: flex;
  flex-direction: row;
  font-family: "Comfortaa", sans-serif;
}

a {
  text-decoration: none;
  color: var(--text);
}

.card_container {
    display: flex;
    height: 15em;
}

.card_container span{
  display: flex;
  flex-direction: column;
}
.favoritar {
  border: none;
  background: none;
  color: none;
}
.favoritar:hover {
  color: #f57171;
}

.card_imagem {
  background-position: center;
}